Django>=1.10.2
djangorestframework
django-cors-middleware
django-environ
django-filter
django-import-export
django-rest-swagger
django-rq
drf-haystack==v1.6.0rc3
gunicorn
psycopg2
netaddr
brotlipy
grako
elasticsearch<2.0.0
schedule
beautifulsoup4
raven
uwsgi
