Django>=1.10.2
djangorestframework
gunicorn
psycopg2
django-environ
netaddr
django-rest-swagger
django-cors-middleware
whitenoise
brotlipy
grako
drf-haystack==v1.6.0rc3
elasticsearch<2.0.0
schedule
beautifulsoup4
raven
uwsgi
