Django>=1.10.2
djangorestframework
gunicorn
psycopg2
django-environ
netaddr
django-rest-swagger
django-cors-middleware
whitenoise
brotlipy
grako
drf-haystack
elasticsearch<2.0.0
schedule
beautifulsoup4
pysolr
